

.TittleLogin{
    font-family: "Inter-Bold-Extra",sans-serif;
    color:#ffff;
    font-size: 32px;
    font-weight: 900;
}

.boxContainerLogin{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;

}

.ContentLogin{
    background-color: #fff;
    width: 500px;
    border-radius: 20px;
    margin-top: 5rem;
    padding-top: 10px;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}


#outlined-basic{

    align-items: center;
    text-align: left;
    display: flex;
}

.Link{
    text-decoration: none;
    color:#2B87EC;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Inter-Regular",sans-serif;
}


p{
    font-family: "Inter-Thin", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5;
}

