@import url(../../fonts.css);



.DivListChatsMY{
    width: 100%;
}

.AllMyCard{
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    height: 100px;
    width: 90%;
    align-items: center;
    font-family: 'Inter-Thin';
    text-decoration: none;
    display:flex;
    align-items:center;
}

.AllMyCard:hover{
    background-color: #f1f1f1;
    opacity: 1;
    transition: 0.5s;
}



.CardContentMy{
    display:flex;
    padding: 5px !important;
    align-items: center;
    text-decoration: none;

}

.imageMyChat{
    max-width:100px;
    max-height: 80px;
    border-radius: 30px !important;
    padding: 5px;
}

.NameMyChat{
    font-family: "Inter-Bold";
    font-size: 25px;
    color:#010101;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 0px;
    text-decoration: none;

}

.LittleInfosMy{
    width: -webkit-fill-available;
    margin-left: 20px;
    text-decoration: none;


}

.BtnRowMy{
    display: flex;
    justify-content: flex-end;
}

.linkMyChat{
    text-decoration: none;
}

.TextParticipantsMy{

}

.ParticipantesListMY{
    
}

.BtnEnterMyChat{
    font-family: 'Inter-Regular';
    text-decoration: none;
    text-transform: capitalize;
    color:#fff;
    background-color: #2B87EC;
    border: none;

    width: 140px;
    height: 30px;
    margin-left: 25%;
    display: grid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2%;
    
}

.TitlePage{
    font-family: "Inter-Bold",sans-serif;
    color:#fff;
    margin-top:1rem;
    font-size: 32px;
    font-weight: 700;
}
