body{
    background: #f1f1f1;    
    margin:0px;
    overflow:hidden;
}




.LinkBack{

    text-decoration: none;
    color: #2B87EC;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Inter-Regular",sans-serif;
    display: flex;
    align-items: center;

}


.imgLogo{
    background-image: url(../../../public/images/live-chat.png);
    height: 35rem;
    margin: 10%;
    background-repeat: no-repeat;
    width: 32rem;
    box-shadow: 10px;

}

.btnBackLogin{
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;

    top:10px;
    left: 10px;
}

.boxContainerRegister{
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: max-content;


}

.TittleRegister{
    font-family: "Inter-Bold",sans-serif;
    color:#252836;
    margin-top:10rem;

    font-size: 32px;
    font-weight: 700;
}

.TittleApp{
    font-family: "Inter-Bold",sans-serif;
    color:#fff;
    margin-top:10rem;
    font-size: 45px;
    font-weight: 700;
}

.boxFormRegister{
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 340px;
    padding:5px;
}


.RegisterImage{
    height: 70%;
    width: 90%;
}

.RegisterRight{
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.SiderLeft{
justify-content: center;
align-items: center;
text-align: center;
background-color: #fff;
height: 102vh;

margin: 0px;

}